*{
    margin: 0;
    padding: 0;
    font-family: 'Sen', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #827E7E;
    color: rgb(255, 255, 255);
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(Images/BACKGROUND3.gif);
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
}



.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 200px;
    opacity: 0.58;
    transition: 0.5s;
}



nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}


nav ul li a{
    color: rgb(36, 36, 36);
    color: rgb(134, 134, 134);
    font-family: 'Chivo';
    text-decoration: none;
    font-size: 20px;
    position: relative;
    font-weight: bold;
    transition: 0.5s;
}

nav ul li a:hover{
    color: white;
    color: rgb(246, 246, 246);
    font-size: 23px;

}

nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    color: white;
    font-size: 85px;
    margin: 5px;
    font-family: 'Playfair Display';
    transition: 0.5s;
    text-decoration: none;
}

.header-text h1 span{
    color: rgb(214, 214, 214);
}

.header-text h1:hover{
    font-size: 95px;
    margin: 5px;
    color: black;
    transition: 0.5s;
}

.header-text h1:active{
    font-size: 95px;
    margin: 5px;
    color: gray;
}

.header-text p{
    font-family: 'Antic Didone';
    margin: 5px;
}


.project-manager{
    display: inline-block;
    list-style: none;
    margin: 15px 20px;
    color: white;
}

.project-manager{
    text-decoration: none;
    font-size: 35px;
    position: relative;
    font-weight: bolder;
}

.project-manager::after{
    content: "";
    width: 0;
    height: 3px;
    background: rgb(50, 50, 50);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.project-manager:hover::after{
    width: 100%;
}



/*–––––––––about–––––––––––––*/

#about{
    padding: 45px 0 45px;
    color: white;
    background-image: url(Images/BACKGROUND-ABOUT.png);
    width: 100%;
    height: 125vh;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 25%;
}

.about-col-1 img{
    width: 120%;
    margin-left: 80px;
    margin-top: 80px;
    border-radius: 1px;
    transition: transform 0.5s;
}

.about-col-1 img:hover{
    transform: scale(1.1);
}

.about-col-2{
    flex-basis: 70%;
    color: rgb(212, 211, 211);
    font-family: 'Quattrocento Sans';
}

a.learn-skills{
    flex-basis: 70%;
    text-decoration: none;
    margin-left: 10px;
    color: rgb(212, 211, 211);
    font-family: 'Quattrocento Sans';
    box-sizing: border-box;
}

.about-col-2 h1{
    margin-left: 150px;
}

.about-col-2 p{
    text-align: justify;
    margin-right: 50px;
    color: rgb(212, 211, 211);
    font-family: 'Chivo';
}

.about-col-2 p.tab-links{
    color: rgb(228, 228, 228);

}


.description{
    margin-left: 180px;
}


.sub-title{
    font-size: 65px;
    font-weight: 600;
    color: white;
    font-family: 'Playfair Display';
}

.sub-title{
    display: inline-block;
    list-style: none;
    margin: 15px 20px;
    color: white;
}

.sub-title{
    text-decoration: none;
    font-size: 65px;
    position: relative;
    font-weight: bolder;
}

.sub-title::after{
    content: "";
    width: 0;
    height: 3px;
    background: rgb(50, 50, 50);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.sub-title:hover::after{
    width: 100%;
}


.tab-titles{
    display: flex;
    margin: 40px 180px 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    font-family: 'Actor';
}

.tab-links::after{
    content: '';
    font-size: 20px;
    width: 0;
    height: 3px;
    background: rgb(43, 43, 43);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

a.about-buttons{
    display: block;
    margin: 20px auto;
    width: fit-content;
    border: none;
    padding: 10px 40px;
    border-radius: 6px;
    text-decoration: none;
    color: rgb(212, 211, 211);
    background-color: #5b5a5a;
    font-family: 'Quattrocento Sans';
    transition: 0.5s, transform 0.5s;
}

a.about-buttons:hover{
    background-color: #3e3d3d;
}

.tab-contents ul li{
    list-style: none;
    margin: 15px 180px 20px;
    color: rgb(212, 211, 211);
    font-family: 'Quattrocento Sans';

}

.tab-contents ul li span{
    color: rgb(16, 16, 16);
    font-size: 20px;
    font-weight: 600;
    font-family: 'Quattrocento Sans';
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*–––––––––services–––––––––––––*/

#services{
    padding: 30px 0;
    background-image: url(Images/BACKGROUND\ 4.gif);
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}


.services-list h2{
    font-family: 'Playfair Display';
}

.services-list div{
    background: rgb(69, 69, 69);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background:rgb(93, 93, 93);
    transform: translateY(-10px);
}

/*–––––––––portfolio–––––––––––––*/

#portfolio{
    padding: 50px 0 ;
    margin-bottom: 50px;
    background-image: url(Images/BACKGROUND-ABOUT.png);
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    opacity: 0.95;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(160, 159, 159));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 600;
    margin-bottom: 20px;
    color: whitesmoke;
    font-family: 'Chivo';
    font-weight: bold;
}

.layer p{
    font-family: 'Quattrocento Sans';
}




.layer a{
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid white;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: 0.5s, transform 0.5s;
}

.btn:hover{
    background:rgb(86, 86, 86);
    transform: scale(1.1);
}

/*–––––––––contact–––––––––––––*/

#contact{
    background-image: url(Images/BACKGROUND3.gif);
    background-image: url(Images/BACKGROUND-ABOUT.png);
}

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 15px;
    color: rgb(212, 211, 211);
}

.contact-left p i{
    color: black;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-top: 15px;
    margin-left: 50px;
    color: white;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: rgb(14, 14, 14);
    transform: translateY(-5px);
}

.btn.btn2{
    margin-top: 15px;
    display: inline-block;
    border: none;
    color: rgb(212, 211, 211);
    background: rgb(74, 74, 74);
    font-family: 'Chivo';
    cursor: pointer;
}

.btn.btn2:hover{
    background: rgb(39, 39, 39);
}

.contact-right form{
    width: 100%;
    margin-top: 30px;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: rgb(212, 211, 211);
    padding: 10px;
    margin: 15px 0;
    color: rgb(14, 14, 14);
    font-size: 16px;
    border-radius: 6px;
    font-family: 'Chivo';
}

form .btn2{
    padding: 14px 50px;
    font-size: 18px;
    margin-top: 20px;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #747272;
    font-weight: 300;
    margin-top: 20px;
}

.copyright p{
    font-family: 'Quattrocento Sans';
    transition: 0.5s;
}

.copyright p:hover{
    font-family: 'Quattrocento Sans';
    color: rgb(14, 14, 14);
}

.copyright i{
    color: white;
    transition: 0.5s;
}

.copyright i:hover{
    color: rgb(184, 72, 72);
}


/*–––––––––experienc header–––––––––––––*/

#experience-header{
    width: 100%;
    height: 70vh;
    background-image: url(Images/BACKGROUND3.gif);
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
}

.bar{
    padding: 10px 10%;
}

.experience-title{
    margin-top: 110px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.experience-title h1{
    color: white;
    font-size: 55px;
    margin: 5px;
    font-family: 'Playfair Display';
    transition: 0.5s;
    text-decoration: none;
}

.experience-title h1 span{
    color: rgb(214, 214, 214);
}

.experience-title h1:hover{
    font-size: 60px;
    margin: 5px;
    color: black;
    transition: 0.5s;
}

.experience-title h1:active{
    font-size: 60px;
    margin: 5px;
    color: gray;
}

.experience-title p{
    font-family: 'Antic Didone';
    font-size: 20px;
    margin: 5px;
}

.title-sub{
    display: inline-block;
    list-style: none;
    margin: 15px 20px;
    color: white;
    
}

.title-sub{
    text-decoration: none;
    position: relative;
    font-weight: bolder;
    font-size: 35px;
}

.title-sub::after{
    content: "";
    width: 0;
    height: 3px;
    background: rgb(50, 50, 50);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.title-sub:hover::after{
    width: 100%;
}



#About-this-role{
    background-image: url(Images/FONDO1.png);
}


.sub-title-experience{
    margin-top: 100px;
    font-weight: 600;
    color: white;
    font-family: 'Playfair Display';
}

.sub-title-experience{
    display: inline-block;
    list-style: none;
    margin: 15px 0;
    color: white;
}

.sub-title-experience{
    text-decoration: none;
    margin-top: 100px;
    font-size: 50px;
    position: relative;
    font-weight: bolder;
}
.sub-title-experience::after{
    content: "";
    width: 0;
    height: 3px;
    background: rgb(50, 50, 50);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.sub-title-experience:hover::after{
    width: 100%;
}

.this-role-header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    transition: transform 0.5s;
}

.role-especifications{
    margin-top: 25px;
    margin-bottom: 100px;
}

.role-especifications p{
    margin-top: 14px;
    margin-bottom: 5px;
    font-family: 'Quattrocento Sans';
    font-size: 18px;
    text-align: justify;
    color: rgb(214, 214, 214);


}

/*–––––––––free resources––––––––––––*/

#freeresources{
    padding: 30px 0;
    background-image: url(Images/BACKGROUND\ 4.gif);
}

.frdescription{
    font-size: 20px;
    font-family: 'Quattrocento Sans';
    text-align: center;
    margin-bottom: 5px;
    color: rgb(28, 28, 28);
}

.frdescription.a{
    font-family: 'Playfair Display';
    font-style: italic;
    color: rgb(15, 15, 15);
    font-size: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 22px;
    margin-top: 22px;
    transition: transform 1s;
}

.frdescription.a:hover{
    transform: scale(1.1);
}

.btn.btn2.fr{
    font-size: 15px;
    padding: 20px 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}







/*–––––––––daily planner css–––––––––––––*/


#planners-header{
    overflow: hidden;
    background: linear-gradient(315deg, rgb(10, 10, 10) 3%, rgb(45, 45, 45) 38%, rgb(89, 111, 110) 68%, rgb(70, 87, 100) 98%);
    opacity: 100%;
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
}


@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.content-dailyplanner-title{
    margin: 0;
    padding: 0;
    display: inline-block;

}

.title-description.dp{
    display: inline-block;
    width: 29%;
    align-items: right;
    margin-left: 110px;
    margin-top: 150px;

}


.title-description.dp h1{
    font-family: 'Playfair Display';
    font-size: 60px;
    color: rgb(221, 221, 221);
    border-bottom: 3px solid #78a6ac;
    display: inline-block;
    transition: 0.5s;
}

.title-description.dp h1:hover{
    border-bottom: 3px solid #b6e9ee;
}

.title-description.dp p{
    margin-top: 20px;
    font-family: 'Quattrocento Sans';
    font-size: 30px;
    color: rgb(221, 221, 221);    

}



.mockup-image{
    display: inline-block;
    width: 60%;
    float: right;
    margin-top: 20px;
}

.mockup-image img{
    width: 100%;
    margin-left: 5px;
    transition: transform 0.5s;
}

.mockup-image img:hover {
    transform: translateY(-10px);
}


.container.dp p{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Quattrocento Sans';
    text-align: left;
}

.sub-title.dp{
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
}

.last-paragraph.dp p{
    text-align: center;
}



.miles {
    padding-top: 20px;
    padding-bottom: 30px;
    transition: transform 0.8s;
}

.miles:hover{
    transform: scale(1.2);
}

.miles p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
    color: rgb(245, 245, 245);
    font-family: 'Playfair Display';
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
  }
  
.fancy {
    font-family: 'Playfair Display';
    position: relative;
    white-space: nowrap;
}

.fancy:after {
    --deco-height: 0.3125em;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--deco-height) * -0.625);
    height: var(--deco-height);
    background-image: url(Images/scribble.png);
    background-size: auto 100%;
    background-repeat: round;
    background-position: 0em;
}


#Daily-planner{
    margin: 100px;
}


#Daily-planner h1{
    margin-bottom: 0px;
}


.bg {
    animation:slide 10s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(52, 52, 52) 50%, rgb(104, 104, 104) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration: 10s;
}
  
.bg3 {
    animation-duration: 15s;
}
  
.content-dp {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
}
  

  
@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}


.div1 {
    font-size: 40px;
    margin-left: 200px;

}

.div2 {
    display:inline-block;
    overflow: hidden;
    white-space:nowrap;
}
  
.div2:first-of-type {   
    animation: showup 7s infinite;
    font-family: 'Playfair Display';
    color:rgb(246, 246, 246);
    font-weight: 100;
}
  
.div2:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
    font-weight: bold;

}
  
.div2:last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
    font-family: 'Playfair Display';
    color: #c7ebff;
}
  
  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }
  
  @keyframes slidein {
      0% { margin-left:-800px; }
      20% { margin-left:-800px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; }
  }
  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:355px;}
      80% {opacity:1;}
      100% {opacity:0;width:355px;}
  }
  
  
.div1.div2 p {
    font-size:12px;
    color:#999;
    margin-top:200px;
  }


.mockup-image-1{
    margin-top: 0px;
    text-align: center;
}
.mockup-image-1 img{
    width: 90%;
    transition: transform 1s;
}

.mockup-image-1 img:hover{
    transform: translateY(-20px);
    border-image-outset: 0 20px 2px rgba(0,0,0,0.2);
}





.container-card{
    margin-top: 40px;
    position: center;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    grid-template-rows: 428px;
    grid-gap: 10px;
}
.container-card .card{
    position: relative;
    background: black;
    overflow: hidden;
    border-radius: none;
    transition: 0.5s;
}
.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 20px 2px rgba(0,0,0,0.2);
}
.container-card .card .img-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.container-card .card:hover .img-box{
    opacity: 0.5;
}
.container-card .card .img-box img{
    width: 100%;
}
.container-card .card .content{
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: -100%;
    padding: 20px;
    padding-top: 60px;
    box-sizing: border-box;
    text-align: center;
    transition: 0.5s;
}
.container-card .card:hover .content{
    bottom: 0;
}
.container-card .card:nth-child(1) .content{
    background: linear-gradient(0deg, #436370, transparent);
}
.container-card .card:nth-child(2) .content{
    background: linear-gradient(0deg, #6ba3bd, transparent);
}
.container-card .card:nth-child(3) .content{
    background: linear-gradient(0deg, #793a3a, transparent);
}

.container-card .card:nth-child(4) .content{
    background: linear-gradient(0deg, #818b9d, transparent);
}

.container-card .card .content h2{
    font-family: 'Quattrocento Sans';
    margin: 0 0 10px;
    padding: 0;
    color: white;
    font-size: 20px;
}
.container-card .card .content h2 span{
    color: rgb(233, 233, 233);
    font-family: 'Quattrocento Sans';
    font-size: 15px;
    font-style: none;

}
.container-card .card .content p{
    font-family: 'Chivo';
    margin: 0;
    padding: 0;
    color: rgb(233, 233, 233);
    font-size: 15px;

}
.container-card .card .content ul{
    display:flex ;
    margin: 10px 0 0;
    padding: 0;
    align-items: center;
    justify-content: center;

}
.container-card .card .content ul li{
    list-style: none;
}
.container-card .card .content ul li a{
    color: white;
    padding: 0 10px;
    font-size: 60px;
    transition: 0.5s;
}


#coming-soon{
    text-align: center;
    overflow: hidden;
    background: linear-gradient(315deg, rgb(38, 37, 37) 3%, rgb(86, 86, 86) 38%, rgb(57, 60, 60) 68%, rgb(43, 52, 60) 98%);
    opacity: 100%;
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
}

.coming-soon-text {
    margin-top: 25px;
    margin-bottom: 25px;

}  
  
.coming-soon-text h1:first-of-type{
    user-select: none;
    font-size: 60px;
    color: white;
    font-family: 'Chivo';
    background: repeating-linear-gradient(-45deg, rgb(78, 126, 126) 28.56% 0%, rgb(139, 170, 187) 7.14%, rgb(128, 223, 239) 14.28%,
    rgb(106, 174, 158) 21.4%, cyan 28.56%, rgb(64, 109, 127) 35.7%, rgb(98, 145, 170) 42.84%, rgb(112, 206, 237) 50%);
    background-size: 600vw 600vw;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: sliding 8s linear infinite forwards;
}

.coming-soon-text h1:last-of-type{
    font-family: 'Playfair Display';
    border-bottom: 3px solid #78a6ac;
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 15px;
}

  
@keyframes sliding {
    0%{
      background-position-x: 0%;
    }
  
    100%{
      background-position-x: 600vw;
    }
}

.coming-soon-text p{
    font-family: 'Quattrocento Sans';
    color: rgb(227, 227, 227);

}


.coming-soon-text p:last-of-type{
    font-size: 20px;
    margin-top: 5px;
}

/*–––––––––newsletter–––––––––––––*/


#Newsletter{
    overflow: hidden;
    height: auto;
    margin-top: 30px;
}



.register-heading{
    font-family: 'Playfair Display';
    font-size: 60px;
    color: rgb(221, 221, 221);
    border-bottom: 3px solid #78a6ac;
    text-align: center;

}

.col-md-12{
    width: 50%;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
}



.btnSubmit
{
    float: right;
    border-radius: 5px;
    padding: 5%;
    font-style: 'Chivo';
    background-color: #262626;
    border: none;
    cursor: pointer;
    color: rgb(246, 246, 252);
    margin-top: 4%;
}

.newsletter-description{
    margin-top: 35px;
    width: 40%;
    float: left;
    margin-right: 100px;
}



.newsletter-description p{
    margin-top: 20px;
    font-family: 'Quattrocento Sans';
    font-size: 22px;
    margin-right: 100px;
}


.newsletter-description h1:last-of-type{
    text-align: center;
    margin-top: 20px;
    width: 50%;
    font-family: 'Playfair Display';
    font-size: 30px;
    color: rgb(221, 221, 221);
    border-bottom: 3px solid #78a6ac;
    display: inline-block;
}

.services-list.daily-planner h2{
    border-bottom: 3px solid #78a6ac;
    display: inline-block;
}








/*–––––––––css for small screen–––––––––––––*/
i.fa-solid{
    display: none;
}

@media only screen and (max-width: 700px){
    #experience-header{
        width: 100%;
        height: 70vh;
        background-image: url(Images/BACKGROUND3.gif);
        background-size: cover;
        background-position: center;
        background-blend-mode: lighten;
    }
    
    .bar{
        padding: 10px 10%;
    }
    
    .experience-title{
        margin-top: 110px;
        margin-left: 70px;
        margin-bottom: 50px;
    }
    
    .experience-title h1{
        color: white;
        font-size: 25px;
        margin: 5px;
        font-family: 'Playfair Display';
        transition: 0.5s;
        text-decoration: none;
    }
    
    .experience-title h1 span{
        color: rgb(214, 214, 214);
    }
    
    .experience-title h1:hover{
        font-size: 30px;
        margin: 5px;
        color: black;
        transition: 0.5s;
    }
    
    .experience-title h1:active{
        font-size: 30px;
        margin: 5px;
        color: gray;
    }
    
    .experience-title p{
        font-family: 'Antic Didone';
        font-size: 15px;
        margin: 5px;
    }
    
    .title-sub{
        display: inline-block;
        list-style: none;
        margin: 15px 20px;
        color: white;
        
    }
    
    .title-sub{
        text-decoration: none;
        position: relative;
        font-weight: bolder;
        font-size: 35px;
    }
    
    .title-sub::after{
        content: "";
        width: 0;
        height: 3px;
        background: rgb(50, 50, 50);
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }
    
    .title-sub:hover::after{
        width: 100%;
    }
    
    
    
    #About-this-role{
        background-image: url(Images/FONDO1.png);
    }
    
    
    .sub-title-experience{
        margin-top: 100px;
        font-weight: 600;
        color: white;
        font-family: 'Playfair Display';
    }
    
    .sub-title-experience{
        display: inline-block;
        list-style: none;
        margin: 15px 0;
        color: white;
    }
    
    .sub-title-experience{
        text-decoration: none;
        margin-top: 100px;
        font-size: 30px;
        position: relative;
        font-weight: bolder;
    }
    .sub-title-experience::after{
        content: "";
        width: 0;
        height: 3px;
        background: rgb(50, 50, 50);
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }
    
    .sub-title-experience:hover::after{
        width: 100%;
    }
    
    .this-role-header{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 55%;
        transition: transform 0.5s;
    }
    
    .role-especifications{
        margin-top: 25px;
        margin-bottom: 100px;
    }
    
    .role-especifications p{
        margin-top: 14px;
        margin-bottom: 5px;
        font-family: 'Quattrocento Sans';
        font-size: 18px;
        text-align: justify;
        color: rgb(214, 214, 214);
    
    
    }

    


}

@media only screen and (min-width: 600px) and (max-width: 1000px){
    #experience-header{
        width: 100%;
        height: 110vh;
        background-image: url(Images/BACKGROUND3.gif);
        background-size: cover;
        background-position: center;
        background-blend-mode: lighten;
    }
    
    .bar{
        padding: 10px 10%;
    }
    
    .experience-title{
        margin-top: 110px;
        margin-left: 70px;
        margin-bottom: 50px;
    }
    
    .experience-title h1{
        color: white;
        font-size: 40px;
        margin: 5px;
        font-family: 'Playfair Display';
        transition: 0.5s;
        text-decoration: none;
    }
    
    .experience-title h1 span{
        color: rgb(214, 214, 214);
    }
    
    .experience-title h1:hover{
        font-size: 45px;
        margin: 5px;
        color: black;
        transition: 0.5s;
    }
    
    .experience-title h1:active{
        font-size: 45px;
        margin: 5px;
        color: gray;
    }
    
    .experience-title p{
        font-family: 'Antic Didone';
        font-size: 20px;
        margin: 5px;
    }
    
    .title-sub{
        display: inline-block;
        list-style: none;
        margin: 15px 20px;
        color: white;
        
    }
    
    .title-sub{
        text-decoration: none;
        position: relative;
        font-weight: bolder;
        font-size: 35px;
    }
    
    .title-sub::after{
        content: "";
        width: 0;
        height: 3px;
        background: rgb(50, 50, 50);
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }
    
    .title-sub:hover::after{
        width: 100%;
    }
    
    
    
}


@media only screen and (max-width: 700px){
    #header{
        background-image: url(Images/BACKGROUNDSMALL.gif);
    }

    .logo{
        width: 200px;
        opacity: 0.58;
        transition: 0.5s;
    }
    
    .logo:hover{
        opacity: 1;
        width: 250px;
    }
    

    .header-text{
        margin-top: 50%;
        font-size: 22px;
    }
    
    .header-text h1{
        color: white;
        font-size: 40px;
        margin: 5px;
        font-family: 'Playfair Display';
        transition: 0.5s;
        text-decoration: none;
    }
    
    .header-text h1 span{
        color: rgb(214, 214, 214);
    }
    
    .header-text h1:hover{
        font-size: 42px;
        margin: 5px;
        color: black;
        transition: 0.5s;
    }
    
    .header-text h1:active{
        font-size: 42px;
        margin: 5px;
        color: gray;
    }
    
    .header-text p{
        font-family: 'Antic Didone';
        margin: 5px;
    }
    
    
    .project-manager{
        display: inline-block;
        list-style: none;
        margin: 15px 20px;
        color: white;
    }
    
    .project-manager{
        text-decoration: none;
        font-size: 22px;
        position: relative;
        font-weight: bolder;
    }
    
    .project-manager::after{
        content: "";
        width: 0;
        height: 3px;
        background: rgb(50, 50, 50);
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }
    
    .project-manager:hover::after{
        width: 100%;
    }
    
    i.fa-solid{
        display: block;
        font-size: 20px;
    }

    i.fa-solid{
        cursor: pointer;
    }

    nav ul{
        background: rgb(14, 14, 14);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
    }


    .sub-title{
        font-size: 38px;
    }

    #about{
        background-image: url(Images/BACKGROUND-ABOUT-SCREEN.png);
        width: 100%;
        height: 1400px;

    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 25px;
    }

    .about-col-1 img{
        width: 90%;
        margin-top: 30px;
        margin-left: 20px;
        border-radius: 1px;
        transition: transform 0.5s;
    }

    .about-col-2{
        font-size: 14px;
    }

    .about-col-2 h1{
        margin-top: 10px;
        margin-left: 20px;
    }


    .about-col-2 p{
        margin-left: 20px;
        font-size: 12px;
        margin-right: auto;
        text-align: justify;
    }

    .tab-contents ul li span{
        color: rgb(16, 16, 16);
        font-size: 15px;
        font-weight: 600;
        font-family: 'Quattrocento Sans';
    }

    .tab-links{
        margin-right: 10px;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
        color: rgb(36, 36, 36);
        font-family: 'Actor';
    }

    .tab-titles{
        display: flex;
        margin: 40px 10px 40px;
        font-size: 15px;
    }

    .tab-contents ul li{
        list-style: none;
        margin: 15px 10px 20px;
        color: rgb(212, 211, 211);
        font-family: 'Quattrocento Sans';
    
    }

    a.about-buttons{
        display: block;
        margin: 10px auto;
        width: fit-content;
        border: none;
        padding: 10px 20px;
        border-radius: 6px;
        text-decoration: none;
        color: rgb(212, 211, 211);
        background-color: #5b5a5a;
        font-family: 'Quattrocento Sans';
        transition: 0.5s, transform 0.5s;
    }
    
    a.about-buttons:hover{
        background-color: #3e3d3d;
    }

    #portfolio{
        background-image: url(Images/BACKGROUND-ABOUT-SCREEN.png);
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }


}




@media only screen and (min-width: 701px) and (max-width: 1400px){
    #header{
        background-image: url(Images/BACKGROUNDSMALL.gif);
    }

    .logo{
        width: 300px;
        opacity: 0.58;
        transition: 0.5s;
    }
    
    .logo:hover{
        opacity: 1;
        width: 350px;
    }
    

    .header-text{
        margin-top: 30%;
        font-size: 25px;
    }
    
    .header-text h1{
        color: white;
        font-size: 65px;
        margin: 5px;
        font-family: 'Playfair Display';
        transition: 0.5s;
        text-decoration: none;
    }
    
    .header-text h1 span{
        color: rgb(214, 214, 214);
    }
    
    .header-text h1:hover{
        font-size: 70px;
        margin: 5px;
        color: black;
        transition: 0.5s;
    }
    
    .header-text h1:active{
        font-size: 70px;
        margin: 5px;
        color: gray;
    }
    
    .header-text p{
        font-family: 'Antic Didone';
        margin: 5px;
        font-size: 30px;
    }
    
    
    .project-manager{
        display: inline-block;
        list-style: none;
        margin: 15px 20px;
        color: white;
    }
    
    .project-manager{
        text-decoration: none;
        font-size: 30px;
        position: relative;
        font-weight: bolder;
    }
    
    .project-manager::after{
        content: "";
        width: 0;
        height: 3px;
        background: rgb(50, 50, 50);
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }
    
    .project-manager:hover::after{
        width: 100%;
    }
    
    i.fa-solid{
        display: block;
        font-size: 30px;
    }

    i.fa-solid{
        cursor: pointer;
    }

    nav ul{
        background: rgb(14, 14, 14);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
    }


    .sub-title{
        font-size: 50px;
    }

    #about{
        background-image: url(Images/BACKGROUND-ABOUT-SCREEN1350.png);
        width: 100%;
        height: 1830px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 20px;
    }

    .about-col-1 img{
        display: block;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 55%;
        transition: transform 0.5s;
    }

    .about-col-2{
        font-size: 14px;
        margin-left: auto;
    }

    .about-col-2 h1{
        margin-top: 5px;
        margin-left: 100px;
        font-size: 55px;
    }

    .about-col-2 p{
        margin-left: 20px;
        font-size: 20px;
        margin-right: auto;
        text-align: justify;
    }


    .tab-links{
        margin-right: 10px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
        color: rgb(36, 36, 36);
        font-family: 'Actor';
    }

    .tab-titles{
        display: flex;
        margin: 40px 10px 40px;
    }

    .tab-titles p{
        font-size: 25px;
    }

    .tab-contents ul li{
        list-style: none;
        margin: 15px 90px 30px;
        color: rgb(212, 211, 211);
        font-size: 23px;
        font-family: 'Quattrocento Sans';
    
    }

    .tab-contents ul li span{
        font-size: 28px;
    }

    a.about-buttons{
        display: block;
        margin: 20px auto;
        width: fit-content;
        border: none;
        padding: 10px 20px;
        border-radius: 6px;
        text-decoration: none;
        color: rgb(212, 211, 211);
        background-color: #5b5a5a;
        font-family: 'Quattrocento Sans';
        transition: 0.5s, transform 0.5s;
    }


    #portfolio{
        background-image: url(Images/BACKGROUND-ABOUT-SCREEN1350.png);
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }


    .title-description.dp h1{
        font-size: 40px;
    }


    .title-description.dp p{
        font-size: 20px; 
    }

    .div2{
        font-size: 30px;
    }

    .container-card{
        grid-template-columns: 2fr 2fr 2fr 2fr;
        grid-template-rows: 323px;
        grid-gap: 10px;
    }

    .container-card .card .content h2{
        font-size: 15px;
    }
    .container-card .card .content h2 span{
        font-size: 10px;
    
    }
    .container-card .card .content p{
        font-size: 10px;
    
    }

    .container-card .card .content ul li a{
        font-size: 40px;
    }

    .register-heading{
        font-size: 50px;

    }
    
    .col-md-12{
        width: 50%;
        float: right;
        margin-right: 20px;
        margin-top: 20px;
    }
    
    
    
    .btnSubmit
    {
        float: right;
        border-radius: 5px;
        padding: 5%;
        font-style: 'Chivo';
        background-color: #262626;
        border: none;
        cursor: pointer;
        color: rgb(246, 246, 252);
        margin-top: 4%;
    }
    
    .newsletter-description{
        margin-top: 35px;
        width: 35%;
        float: center;
    }
    
    
    
    .newsletter-description p{
        margin-top: 20px;
        font-family: 'Quattrocento Sans';
        font-size: 16px;
        margin-right: 40px;
    }
    
    
    .newsletter-description h1:last-of-type{
        text-align: left;
        margin-top: 20px;
        font-family: 'Playfair Display';
        font-size: 18px;
        color: rgb(221, 221, 221);
        border-bottom: 3px solid #78a6ac;
        display: inline-block;
        margin-right: 5px;
    }


   

}




@media only screen and (min-width: 800px) and (max-width: 1200px){

    .free-resources-body{
        margin: auto;
        overflow-x: hidden;
    }
    
    .daily-planner-title {
        margin-bottom: 50px;
    }

    .miles p{
        font-size: 45px;
    }

    .bg.bg3{
        margin: auto;
    }

    .title-description.dp{
        margin: auto;
        width: 30%;
        margin-left: 80px;
        margin-top: 80px;
        
    }

    .title-description.dp h1{
        font-size: 30px;
        text-align: left; 
        margin-left: 0px;
    }



    .title-description.dp p{
        margin-top: 20px;
        font-size: 16px;
        text-align: left;
        margin-left: 0px;
        margin-right: 50px;

    }


    .mockup-image{
        display: inline-block;
        width: 60%;
        float: right;
        margin: auto;
    }

    .div1 {
        font-size: 10px;
        margin-left: 25px;
    
    }
    
    .div2 {
        display:inline-block;
        overflow: hidden;
        white-space:nowrap;
    }
      
    .div2:first-of-type {   
        animation: showup 7s infinite;
        font-family: 'Playfair Display';
        color:rgb(246, 246, 246);
        font-weight: 100;
    }
      
    .div2:last-of-type {
        width:0px;
        animation: reveal 7s infinite;
        font-weight: bold;
    
    }
      
    .div2:last-of-type span {
        margin-left:-40px;
        animation: slidein 7s infinite;
        font-family: 'Playfair Display';
        color: #c7ebff;
    }
      
      @keyframes showup {
          0% {opacity:0;}
          20% {opacity:1;}
          80% {opacity:1;}
          100% {opacity:0;}
      }
      
      @keyframes slidein {
          0% { margin-left:-100px; }
          20% { margin-left:-100px; }
          35% { margin-left:0px; }
          100% { margin-left:0px; }
      }
      
      @keyframes reveal {
          0% {opacity:0;width:0px;}
          20% {opacity:1;width:0px;}
          30% {width:260px;}
          80% {opacity:1;}
          100% {opacity:0;width:260px;}
      }

      .container-card{
        margin-top: 30px;
        position: center;
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: 4fr 4fr 4fr 4fr;
        grid-template-rows: 210px ;
        grid-gap: 10px;


    }

    .container-card.card.content{
        padding: auto;
    }

    .container-card .card .content{
        position: absolute;
        width: 100%;
        height: 60%;
        bottom: -100%;
        padding: 0px;
        padding-top: 0px;
        box-sizing: border-box;
        text-align: center;
        transition: 0.5s;
    }

    .register-heading {
        font-size: 40px;
    }
      

    }

@media only screen and (min-width: 600px) and (max-width: 1000px){

    #header{
        background-image: url(Images/BACKGROUNDSMALL.gif);
        width: 100%;
        height: auto;

    }

    .logo{
        width: 300px;
        opacity: 0.58;
        transition: 0.5s;
    }
    
    .logo:hover{
        opacity: 1;
        width: 350px;
    }
    

    .header-text{
        margin-top: 30%;
        font-size: 25px;
        margin-bottom: 100px;
    }
    
    .header-text h1{
        color: white;
        font-size: 60px;
        margin: 5px;
        font-family: 'Playfair Display';
        transition: 0.5s;
        text-decoration: none;
    }
    
    .header-text h1 span{
        color: rgb(214, 214, 214);
    }
    
    .header-text h1:hover{
        font-size: 65px;
        margin: 5px;
        color: black;
        transition: 0.5s;
    }
    
    .header-text h1:active{
        font-size: 65px;
        margin: 5px;
        color: gray;
    }
    
    .header-text p{
        font-family: 'Antic Didone';
        margin: 5px;
        font-size: 30px;
    }
    
    
    .project-manager{
        display: inline-block;
        list-style: none;
        margin: 15px 20px;
        color: white;
    }
    

    .project-manager{
        text-decoration: none;
        font-size: 30px;
        position: relative;
        font-weight: bolder;
    }
    
    .project-manager::after{
        content: "";
        width: 0;
        height: 3px;
        background: rgb(50, 50, 50);
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }
    
    .project-manager:hover::after{
        width: 100%;
    }
    
    i.fa-solid{
        display: block;
        font-size: 30px;
    }

    i.fa-solid{
        cursor: pointer;
    }

    nav ul{
        background: rgb(14, 14, 14);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
    }


    .sub-title{
        font-size: 50px;
    }

    #about{
        background-image: url(Images/BACKGROUND-ABOUT-SCREEN701.png);
        width: 100%;
        height: 1800px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 20px;
    }

    .about-col-1 img{
        display: block;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 55%;
        transition: transform 0.5s;
    }

    .about-col-2{
        font-size: 14px;
        margin-left: auto;
    }

    .about-col-2 h1{
        margin-top: 5px;
        margin-left: 100px;
        font-size: 55px;
    }

    .about-col-2 p{
        margin-left: 20px;
        font-size: 20px;
        margin-right: auto;
        text-align: justify;
    }


    .tab-links{
        margin-right: 10px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
        color: rgb(36, 36, 36);
        font-family: 'Actor';
    }

    .tab-titles{
        display: flex;
        margin: 40px 10px 40px;
    }

    .tab-titles p{
        font-size: 25px;
    }

    .tab-contents ul li{
        list-style: none;
        margin: 15px 90px 30px;
        color: rgb(212, 211, 211);
        font-size: 23px;
        font-family: 'Quattrocento Sans';
    
    }

    .tab-contents ul li span{
        font-size: 28px;
    }

    a.about-buttons{
        display: block;
        margin: 20px auto;
        width: fit-content;
        border: none;
        padding: 10px 20px;
        border-radius: 6px;
        text-decoration: none;
        color: rgb(212, 211, 211);
        background-color: #5b5a5a;
        font-family: 'Quattrocento Sans';
        transition: 0.5s, transform 0.5s;
    }

    #services{
        background-image: url(Images/BACKGROUND-ABOUT-SCREEN701.png);
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }

}


@media only screen and (min-width: 200px) and (max-width: 750px){

    .free-resources-body{
        margin: auto;
        overflow-x: hidden;
    }

    .bg.bg3{
        margin: auto;
    }

    .title-description.dp{
        margin: auto;
        margin-top: 50px;
    }

    .title-description.dp{
        display: inline-block;
        width: 100%;
    }

    .title-description.dp h1{
        font-size: 30px;
        text-align: left; 
        margin-left: 90px;
    }



    .title-description.dp p{
        margin-top: 20px;
        font-size: 16px;
        text-align: left;
        margin-left: 90px;
        margin-right: 100px;

    }


    .mockup-image{
        display: inline-block;
        width: 100%;
        float: left;
        margin-top: 20px;   
    }


    .miles p {
        font-size: 20px;
      }

    .sub-title.dp{
        font-size: 25px;
        float: left;
        text-align: left;
        margin-bottom: 30px;

    }

    .container.dp p{
        font-size: 18px;
        text-align: justify;
    }

    .first-paragraph-dp{
        margin-top: 40px;
    }

    .sub-title.dailyp{
        text-align: center;
        font-size: 25px;
        margin: auto;
        margin-left: 50px;
    }

    #Daily-planner{
        margin: auto;
        margin-bottom: 50px;
    }

    .mockup-image-1 img{
        max-width: 150%;  
        height: auto; 
    }


    .div1 {
        font-size: 15px;
        margin-left: 25px;
    
    }
    
    .div2 {
        display:inline-block;
        overflow: hidden;
        white-space:nowrap;
    }
      
    .div2:first-of-type {   
        animation: showup 7s infinite;
        font-family: 'Playfair Display';
        color:rgb(246, 246, 246);
        font-weight: 100;
    }
      
    .div2:last-of-type {
        width:0px;
        animation: reveal 7s infinite;
        font-weight: bold;
    
    }
      
    .div2:last-of-type span {
        margin-left:-30px;
        animation: slidein 7s infinite;
        font-family: 'Playfair Display';
        color: #c7ebff;
    }
      
      @keyframes showup {
          0% {opacity:0;}
          20% {opacity:1;}
          80% {opacity:1;}
          100% {opacity:0;}
      }
      
      @keyframes slidein {
          0% { margin-left:-100px; }
          20% { margin-left:-100px; }
          35% { margin-left:0px; }
          100% { margin-left:0px; }
      }
      
      @keyframes reveal {
          0% {opacity:0;width:0px;}
          20% {opacity:1;width:0px;}
          30% {width:180px;}
          80% {opacity:1;}
          100% {opacity:0;width:180px;}
      }
      
    .services-list.daily-planner h2{
        border-bottom: 3px solid #78a6ac;
        display: inline-block;
        font-size: 20px;
    }
    .div1.div2 p {
        font-size:12px;
        color:#999;
        margin-top:200px;
    }

    .container-card{
        margin-top: 30px;
        position: center;
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: 4fr 4fr 4fr 4fr;
        grid-template-rows: 122px ;
        grid-gap: 10px;
    }
    .container-card .card{
        position: relative;
        background: black;
        overflow: hidden;
        border-radius: none;
        transition: 0.5s;
    }
    .card:hover{
        transform: translateY(-20px);
        box-shadow: 0 20px 2px rgba(0,0,0,0.2);
    }
    .container-card .card .img-box{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.5s;
    }
    .container-card .card:hover .img-box{
        opacity: 0.5;
    }
    .container-card .card .img-box img{
        width: 100%;
    }
    .container-card .card .content{
        position: absolute;
        width: 100%;
        height: 60%;
        bottom: -100%;
        padding: 0px;
        padding-top: 0px;
        box-sizing: border-box;
        text-align: center;
        transition: 0.5s;
    }
    .container-card .card:hover .content{
        bottom: 0;
    }
    .container-card .card:nth-child(1) .content{
        background: linear-gradient(0deg, #436370, transparent);
    }
    .container-card .card:nth-child(2) .content{
        background: linear-gradient(0deg, #6ba3bd, transparent);
    }
    .container-card .card:nth-child(3) .content{
        background: linear-gradient(0deg, #793a3a, transparent);
    }
    
    .container-card .card:nth-child(4) .content{
        background: linear-gradient(0deg, #818b9d, transparent);
    }
    
    .container-card .card .content h2{
        font-family: 'Quattrocento Sans';
        margin: 0 0 0px;
        padding: 0;
        color: white;
        font-size: 8px;
    }
    .container-card .card .content h2 span{
        color: rgb(233, 233, 233);
        font-family: 'Quattrocento Sans';
        font-size: 8px;
        font-style: none;
    
    }
    .container-card .card .content p{
        font-family: 'Chivo';
        margin: 0;
        padding: 0;
        color: rgb(233, 233, 233);
        font-size: 10px;
    
    }
    .container-card .card .content ul{
        display:flex ;
        margin: 0px 0 0;
        padding: 0;
        align-items: center;
        justify-content: center;
    
    }
    .container-card .card .content ul li{
        list-style: none;
    }
    .container-card .card .content ul li a{
        color: white;
        padding: 0 0px;
        font-size: 12px;
        transition: 0.5s;
    }
    
    .coming-soon-text h1:last-of-type{
        font-size: 20px;
    }

    .coming-soon-text h1:first-of-type{
        font-size: 30px;
    }

    .coming-soon-text p:first-of-type{
        font-size: 10px;
    }

    .coming-soon-text p:last-of-type{
        font-size: 14px;
    }

    .register-heading{
        font-size: 30px;
    }

    .col-md-12{
        width: 100%;
        align-items: center;
        margin: auto;
        margin-left: 30px;
        margin-right: 10px;
    }

    .newsletter-description {
        width: 100%;
        align-items: center;
        margin: auto;
        text-align: center;
    }

    .newsletter-description h1{
        font-size: 20px;
    }

    .newsletter-description p{
        margin: auto;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 15px;
    }

    
    





}